<div class="hero-image section"> 
    <img src="{{'Hero Image.png'}}" loading="lazy">
</div>




{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
        "name": "Hero",
        "category": "Image"       
         
    }
  ]
   
}
{% endschema %}
